<ion-content class="dashboard-bg">

  <div class="splash-container">

    <!-- APP ICON -->

    <div class="logo-circle">
      <ion-icon name="card-outline"></ion-icon>
    </div>

    <!-- APP NAME -->

    <h1 class="app-title">Digital ID System</h1>

    <p class="subtitle">Secure Identity Access</p>

    <!-- LOADING BAR -->

    <div class="loading-section">

      <div class="loading-bar">
        <div class="progress" [style.width.%]="progress"></div>
      </div>

      <p class="loading-text">{{progress}}%</p>

    </div>

  </div>

</ion-content>