.dashboard-bg{
  --background:#f4f6f9;
}

.container{
  padding:20px;
}

/* Header */

.page-header{
  text-align:center;
  font-size:24px;
  font-weight:600;
  color:#1f2937;
  margin-bottom:25px;
}

/* Menu layout */

.menu{
  display:flex;
  flex-direction:column;
  gap:15px;
}

/* Cards */

.menu-card{
  display:flex;
  align-items:center;
  gap:15px;

  background:white;
  padding:18px;
  border-radius:14px;

  font-size:16px;
  font-weight:500;
  color:#1f2937;

  box-shadow:0 4px 12px rgba(0,0,0,0.08);

  cursor:pointer;
  transition:0.2s;
}

.menu-card:hover{
  transform:translateY(-2px);
}

/* Icon */

.menu-card ion-icon{
  font-size:26px;
  color:#38bdf8;
}

/* Logout */

.logout-card{
  background:#fee2e2;
  color:#dc2626;
}

.logout-card ion-icon{
  color:#dc2626;
}

.dashboard-card {
  margin: 10px;
  border-radius: 12px;
}

ion-icon {
  font-size: 22px;
  color: #3880ff;
}