<ion-content class="dashboard-bg">

  <div class="center-box">

    <div class="form-card">

      <!-- HEADER -->

      <div class="page-header">
        <ion-icon name="lock-open-outline"></ion-icon>
        <h2>Reset Password</h2>
      </div>

      <!-- USERNAME -->

      <ion-item lines="none" class="input-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>

        <ion-input
          placeholder="Username"
          [(ngModel)]="username">
        </ion-input>

      </ion-item>


      <!-- NEW PASSWORD -->

      <ion-item lines="none" class="input-item">

        <ion-icon name="key-outline" slot="start"></ion-icon>

        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="New Password"
          [(ngModel)]="newPassword">
        </ion-input>

        <!-- Show / Hide Icon -->

        <ion-icon
          slot="end"
          class="eye-icon"
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="togglePassword()">
        </ion-icon>

      </ion-item>


      <!-- BUTTON -->

      <ion-button
        expand="block"
        class="reset-btn"
        (click)="resetPassword()">

        <ion-icon name="refresh-outline" slot="start"></ion-icon>
        Reset Password

      </ion-button>

    </div>

  </div>

</ion-content>