<ion-content class="page-bg">

  <div class="container">

    <div class="title-box">
      <h1>Create Digital ID</h1>
      <p>Register student or employee</p>
    </div>

    <div class="form-card">

      <!-- Role -->
      <ion-item>
        <ion-label position="stacked">Role</ion-label>
        <ion-select [(ngModel)]="role" (ionChange)="generatePreview()">
          <ion-select-option value="Student">Student</ion-select-option>
          <ion-select-option value="Employee">Employee</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Name -->
      <ion-item>
        <ion-input
          label="Full Name"
          labelPlacement="stacked"
          placeholder="Enter name"
          [(ngModel)]="form.name">
        </ion-input>
      </ion-item>

      <!-- Department -->
      <ion-item>
        <ion-label position="stacked">Department</ion-label>
        <ion-select [(ngModel)]="form.department" (ionChange)="generatePreview()">

          <ion-select-option value="Computer Science and Engineering">
            Computer Science and Engineering
          </ion-select-option>

          <ion-select-option value="Electronics and Communication Engineering">
            Electronics and Communication Engineering
          </ion-select-option>

          <ion-select-option value="Mechanical Engineering">
            Mechanical Engineering
          </ion-select-option>

          <ion-select-option value="Civil Engineering">
            Civil Engineering
          </ion-select-option>

          <ion-select-option value="Electrical and Electronics Engineering">
            Electrical and Electronics Engineering
          </ion-select-option>

          <ion-select-option value="Information Technology">
            Information Technology
          </ion-select-option>

          <ion-select-option value="Artificial Intelligence and Machine Learning">
            Artificial Intelligence and Machine Learning
          </ion-select-option>

          <ion-select-option value="Artificial Intelligence and Data Science">
            Artificial Intelligence and Data Science
          </ion-select-option>

          <ion-select-option value="Aeronautical Engineering">
            Aeronautical / Aerospace Engineering
          </ion-select-option>

          <ion-select-option value="Biotechnology">
            Biotechnology
          </ion-select-option>

          <ion-select-option value="Textile Technology">
            Textile Technology / Engineering
          </ion-select-option>

        </ion-select>
      </ion-item>

      <!-- Batch -->
      <ion-item *ngIf="role === 'Student'">
        <ion-input
          label="Batch"
          labelPlacement="stacked"
          placeholder="Example: 2023 - 2027"
          [(ngModel)]="form.batch"
          (ionInput)="generatePreview()">
        </ion-input>
      </ion-item>

      <!-- Course -->
      <ion-item *ngIf="role === 'Student'">
        <ion-label position="stacked">Course</ion-label>
        <ion-select [(ngModel)]="form.course" (ionChange)="generatePreview()">

          <ion-select-option value="Bachelor of Engineering">
            Bachelor of Engineering
          </ion-select-option>

          <ion-select-option value="Bachelor of Technology">
            Bachelor of Technology
          </ion-select-option>

        </ion-select>
      </ion-item>

      <!-- ID Preview -->
      <div class="id-preview" *ngIf="previewId">
        <p>Generated ID Preview</p>
        <h2>{{previewId}}</h2>
      </div>

      <!-- Email -->
      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="stacked"
          placeholder="Enter email"
          [(ngModel)]="form.email">
        </ion-input>
      </ion-item>

      <!-- Phone -->
      <ion-item>
        <ion-input
          label="Mobile"
          labelPlacement="stacked"
          placeholder="Enter phone"
          type="tel"
          [(ngModel)]="form.phone">
        </ion-input>
      </ion-item>

      <!-- Parent Mobile -->
      <ion-item *ngIf="role === 'Student'">
        <ion-input
          label="Parent Mobile"
          labelPlacement="stacked"
          placeholder="Enter parent phone"
          type="tel"
          [(ngModel)]="form.parentMobile">
        </ion-input>
      </ion-item>

      <!-----Photo upload----->
      <ion-item>
        <ion-label>Upload Photo</ion-label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
      </ion-item>

      <img *ngIf="photoPreview" [src]="photoPreview" class="preview-img" />

      <!-- Button -->
      <ion-button expand="block" class="create-btn" (click)="submit()">
        Create ID
      </ion-button>

    </div>

  </div>

</ion-content>